/* Variabes */
:root {
  --orange: #ffa600;
  --grey: #f3f3f3;
  --white: rgb(255, 255, 255);
  --base-color: #ffa600;
}

body {
  background-color: var(--base-color);
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  height: 100%;
}

.wrapper {
  width: 800px;
  margin: 30px auto;
  color: var(--white);
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 3em;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  animation: fadeInOut 1.7s infinite;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#minutes,
#seconds,
#tens {
  font-size: 2em;
}

button {
  border-radius: 5px;
  background: var(--base-color);
  color: var(--white);
  border: solid 1px var(--white);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: var(--white);
  border: solid 1px var(--white);
  color: var(--base-color);
}
